<div class="album_1">
  <h3>Isabela's Artwork</h3>
  <a><%= link_to 'Back to Fairyland', '/' %></a>
  <div class="art_paper">
<!--    <h2> Isabela 2016</h2>-->
    <%= image_tag "isabela_art_works/isabela art work 1.jpg", class: 'art' %>
    <%= image_tag "isabela_art_works/isabela art work 1 3.jpg", class: 'art' %>
    <%= image_tag "isabela_art_works/isabela art work 2 1.jpg", class: 'art' %>
    <%= image_tag "isabela_art_works/isabela art work 2 2.jpg", class: 'art' %>
    <%= image_tag "isabela_art_works/isabela art work 2 3.jpg", class: 'art' %>
    <%= image_tag "isabela_art_works/isabela art work 2 4.jpg", class: 'art' %>
    <%= image_tag "isabela_art_works/isabela art work 2 5.jpg", class: 'art' %>
    <%= image_tag "isabela_art_works/isabela art work 2 6.jpg", class: 'art' %>
    <%= image_tag "isabela_art_works/isabela art work 2 7.jpg", class: 'art' %>
    <%= image_tag "isabela_art_works/isabela art work 2 8.jpg", class: 'art' %>
    <%= image_tag "isabela_art_works/isabela art work 2 9.jpg", class: 'art' %>
    <%= image_tag "isabela_art_works/isabela art work 2 10.jpg", class: 'art' %>
    <%= image_tag "isabela_art_works/isabela art work 2 11.jpg", class: 'art' %>
    <%= image_tag "isabela_art_works/isabela art work 2 12.jpg", class: 'art' %>
    <%= image_tag "isabela_art_works/isabela art work 2 13.jpg", class: 'art' %>
    <%= image_tag "isabela_art_works/isabela art work 2 14.jpg", class: 'art' %>
    <%= image_tag "isabela_art_works/isabela art work 2 15.jpg", class: 'art' %>
    <%= image_tag "isabela_art_works/isabela art work 2 16.jpg", class: 'art' %>
    <%= image_tag "isabela_art_works/isabela art work 2 17.jpg", class: 'art' %>
    <%= image_tag "isabela_art_works/isabela art work 2 18.jpg", class: 'art' %>
    <%= image_tag "isabela_art_works/isabela art work 2 19.jpg", class: 'art' %>
    <%= image_tag "isabela_art_works/isabela art work 2 20.jpg", class: 'art' %>
    <%= image_tag "isabela_art_works/isabela art work 2 21.jpg", class: 'art' %>
    <%= image_tag "isabela_art_works/isabela art work 2 22.jpg", class: 'art' %>
    <%= image_tag "isabela_art_works/isabela art work 2 23.jpg", class: 'art' %>
    <%= image_tag "isabela_art_works/isabela art work 2 24.jpg", class: 'art' %>
    <%= image_tag "isabela_art_works/isabela art work 2 25.jpg", class: 'art' %>
    <%= image_tag "isabela_art_works/isabela art work 2 26.jpg", class: 'art' %>
    <%= image_tag "isabela_art_works/isabela art work 2 27.jpg", class: 'art' %>
    <%= image_tag "isabela_art_works/isabela art work 2 28.jpg", class: 'art' %>
    <%= image_tag "isabela_art_works/isabela art work 2 29.jpg", class: 'art' %>
    <%= image_tag "isabela_art_works/isabela art work 2 30.jpg", class: 'art' %>
    <%= image_tag "isabela_art_works/isabela art work 2 31.jpg", class: 'art' %>


  </div>
</div>



