<div class="album_1">
  <h1>Photos of Isabela Growing Up</h1>
  <a class="link"><%= link_to 'Back to Fairyland', '/' %></a>
  <div class="photo_by_yr">
    <div class="yr">
      <h2> Isabela 2016</h2>
      <%= image_tag "image1.jpg", class: 'img' %>
    </div>


    <div class="yr">
      <h2> Isabela 2017</h2>
      <%= image_tag "image2.jpg", class: 'img' %>
    </div>

    <div class="yr">
      <h2> Isabela 2018</h2>
      <%= image_tag "image3.jpg", class: 'img' %>
    </div>

    <div class="yr">
      <h2> Isabela 2019</h2>
      <%= image_tag "image4.jpg", class: 'img' %>
    </div>

    <div class="yr">
      <h2> Isabela 2020</h2>
      <%= image_tag "image5.jpg", class: 'img' %>
    </div>

  </div>


</div>




